@tailwind base;
@tailwind components;
@tailwind utilities;


/* Animations*/

@keyframes fadeIn{
  from{
    opacity: 0;
  }
  to{
    opacity: 1;
  }
}

@keyframes typing {
  0%{
    width: 0%;
    visibility: hidden;
  }
  100%{
    width: 100%;
  }
}

@keyframes  blink-efect{
  from, to {
    border-color: transparent;
  }
  50% {
    border-color: white;
  }
}

@keyframes translate-in-x {
  from{
    translate: -100px;
    opacity: 0;
  }to{
    translate: 0px;
    opacity: 1;

  }
  
}

@keyframes translate-in-y {
  from{
    translate: 0px -50px;
    opacity: 0;
  }to{
    translate: 0px 0px;
    opacity: 1;

  }
  
}


.fade-in{
  animation: fadeIn 3s;
}
.trans-x-animation{
  animation: translate-in-x 5s forwards;
}
.trans-y-animation{
  animation: translate-in-y 3s forwards;
}
.type-animation{
  overflow: hidden;
  animation: typing 2s steps(20),
  blink-efect .5s step-end 10 forwards;
  animation-fill-mode: forwards;
  border-right: 2px solid white; 
  white-space: nowrap; 
  margin: 0 auto; 

}

body{
  font-family: 'Montserrat Variable', sans-serif;
}

.pixel-f{
  font-family: 'Pixelify Sans Variable', system-ui;
}

/* :root {
  --accent: 136, 58, 234;
  --accent-light: 224, 204, 250;
  --accent-dark: 49, 10, 101;
  --accent-gradient: linear-gradient(
    45deg,
    rgb(var(--accent)),
    rgb(var(--accent-light)) 30%,
    white 60%
  );
}
html {
  font-family: system-ui, sans-serif;
  background: #13151a;
}
code {
  font-family:
    Menlo,
    Monaco,
    Lucida Console,
    Liberation Mono,
    DejaVu Sans Mono,
    Bitstream Vera Sans Mono,
    Courier New,
    monospace;
}


main {
  margin: auto;
  padding: 1rem;
  width: 800px;
  max-width: calc(100% - 2rem);
  color: white;
  font-size: 20px;
  line-height: 1.6;
}
.astro-a {
  position: absolute;
  top: -32px;
  left: 50%;
  transform: translatex(-50%);
  width: 220px;
  height: auto;
  z-index: -1;
}
h1 {
  font-size: 4rem;
  font-weight: 700;
  line-height: 1;
  text-align: center;
  margin-bottom: 1em;
}
.text-gradient {
  background-image: var(--accent-gradient);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 400%;
  background-position: 0%;
}
.instructions {
  margin-bottom: 2rem;
  border: 1px solid rgba(var(--accent-light), 25%);
  background: linear-gradient(rgba(var(--accent-dark), 66%), rgba(var(--accent-dark), 33%));
  padding: 1.5rem;
  border-radius: 8px;
}
.instructions code {
  font-size: 0.8em;
  font-weight: bold;
  background: rgba(var(--accent-light), 12%);
  color: rgb(var(--accent-light));
  border-radius: 4px;
  padding: 0.3em 0.4em;
}
.instructions strong {
  color: rgb(var(--accent-light));
}
.link-card-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
  gap: 2rem;
  padding: 0;
} */