@tailwind base;
@tailwind components;
@tailwind utilities;


/* Animations*/

@keyframes fadeIn{
  from{
    opacity: 0;
  }
  to{
    opacity: 1;
  }
}


@keyframes typing {
  0%{
    width: 0%;
    visibility: hidden;
  }
  100%{
    width: 100%;
  }
}

@keyframes  blink-efect{
  from, to {
    border-color: transparent;
  }
  50% {
    border-color: white;
  }
}

@keyframes translate-in-x {
  from{
    translate: -100px;
    opacity: 0;
  }to{
    translate: 0px;
    opacity: 1;

  }
  
}

@keyframes translate-in-y {
  from{
    translate: 0px -50px;
    opacity: 0;
  }to{
    translate: 0px 0px;
    opacity: 1;

  }
  
}

@media (max-width: 1024px) {
  .collapsible{
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease-out;
  }
  
  .collapsible.collapsed{
    max-height: 200px;
  
  }
}


.fade-in{
  animation: fadeIn 3s;
}
.trans-x-animation{
  animation: translate-in-x 5s forwards;
}
.trans-y-animation{
  animation: translate-in-y 3s forwards;
}
.type-animation{
  overflow: hidden;
  animation: typing 2s steps(20),
  blink-efect .5s step-end 10 forwards;
  animation-fill-mode: forwards;
  border-right: 2px solid white; 
  white-space: nowrap; 
  margin: 0 auto; 

}

body{
  font-family: 'Montserrat Variable', sans-serif;
}

.pixel-f{
  font-family: 'Pixelify Sans Variable', system-ui;
}
.pixel-f-number{
  font-family: "Tiny5", sans-serif;
  font-style: normal;
}
