---
// src/pages/index.astro
import '@fontsource-variable/montserrat';
import '../styles/global.css'
import Head from "../layouts/Head.astro";
import Button from "../components/Button.astro";
import Sun from "../icons/Sun.astro";
import Nav from '../layouts/Nav.astro';
import Hero from '../layouts/Hero.astro';
import Card from '../components/Card.astro';
import Sobremi from '../layouts/Sobremi.astro';
import Skills from '../layouts/Skills.astro';
import '@fortawesome/fontawesome-free/css/all.min.css';
import SecSkills from '../layouts/SecSkills.astro';
import Formacion from '../layouts/Formacion.astro';
import Experiencia from '../layouts/Experiencia.astro';
import GDPortfolio from '../layouts/GDPortfolio.astro';
import WebPortfolio from '../layouts/WebPortfolio.astro';

---

<!doctype html>
<html lang="es" class="dark">
  <head>
    <Head title="Anibal Simarro - Web/Game Developer" />
  <body
    class="
    bg-slate-50 
    text-slate-900 
    antialiased 
    bg-fixed 
    dark:text-slate-50 
    dark:bg-slate-950
    "
  >

    <Nav/>
    <Hero/>

    <div class="container mx-auto text-lg">
      <hr class="my-4 border-t-2 border-slate-900">
      <Sobremi/>
      <hr class="my-4 border-t-2 border-slate-900">
      <Skills />
      <hr class="my-4 border-t-2 border-slate-900">
      <SecSkills/>
      <hr class="my-4 border-t-2 border-slate-900">
      <Formacion/>
      <hr class="my-4 border-t-2 border-slate-900">
      <Experiencia/>
      <hr class="my-4 border-t-2 border-slate-900">
      <GDPortfolio/>
      <hr class="my-4 border-t-2 border-slate-900">
      <WebPortfolio/>
      <hr class="my-4 border-t-2 border-slate-900">


    </div>

    <footer>
      <!-- Footer content here -->
    </footer>

    <script>

    </script>
  </body>
</html>