---
// src/pages/index.astro
import '@fontsource-variable/montserrat';
import '../styles/global.css'
import Head from "../layouts/Head.astro";
import Button from "../components/Button.astro";
import Sun from "../icons/Sun.astro";
import Nav from '../components/Nav.astro';

---

<!doctype html>
<html lang="es" class="dark">
  <head>
    <Head title="Anibal Simarro - Web/Game Developer" />
  </head>
  <body
    class="
    bg-slate-50 
    text-slate-900 
    antialiased 
    bg-fixed 
    dark:bg-slate-900 
    dark:text-slate-50 
    dark:bg-gradient-to-t 
    dark:from-slate-500 
    dark:to-slate-800
    "
  >
    <header class="p-4">
      <Nav/>
    </header>

    <div class="container mx-auto text-lg ">
      <h1 class="font-thin">
        Hola, Este es mi portfolio <span>Astro</span>
      </h1>
      <p class="font-medium">
        Ale pues aqui empezamos a programar. Vamos a hacer unos cuanto cambios
      </p>
      <p>Más cambios</p>
      <Button text="Hola soy un botón" />
      <p>Hola</p>
    </div>

    <footer>
      <!-- Footer content here -->
    </footer>

    <script>
      const toggleDarkMode = () => {
        document.documentElement.classList.toggle('dark');
      };

      document.getElementById('dark-mode-toggle').addEventListener('click', toggleDarkMode);
    </script>
  </body>
</html>