---

import Sun from "../icons/Sun.astro";
---

<div class="flex flex-row justify-between">
  <div>
    Logo
  </div>
  <div class="font-bold">
    <nav>
      <ul class="flex space-x-4">
        <li><a class="hover:text-sky-400" href="#">Inicio</a></li>
        <li><a class="hover:text-sky-400" href="#">Skills</a></li>
        <li><a class="hover:text-sky-400" href="#">Experiencia</a></li>
        <li><a class="hover:text-sky-400" href="#">Formación</a></li>
      </ul>
    </nav>
  </div>
  <div>
    <button 
      id="dark-mode-toggle" 
      class="px-4 py-2 bg-blue-500 text-white rounded-lg dark:bg-yellow-500"
    >
      <Sun/>
    </button>
  </div>
</div>