---
import WorkCard from "../components/WorkCard.astro";
---

<section id="experiencia" class="my-4 p-8">
  <h2 class="text-2xl  dark:text-lime-400 text-blue-600 pixel-f">Experiencia</h2>
  <div class=" flex max-lg:flex-col lg:flex-row justify-center lg:items-start my-8 lg:space-x-4  max-lg:space-y-4 max-lg:items-center" >
    <div class="">
      <WorkCard
      title="Prácticas en empresa."
      site="Ingeteam Corporation (Albacete)"
      year="2017"
      description="Trabajo realizado: Desarrollo de Aplicaciones Android Nativas con comunicaciones API JSON. Desarrollo de aplicaciones web PHP con CakePHP."
      srcImage="https://www.stech.es/gestor/recursos/uploads/imagenes/empresas/logos/asociados/ingeteam.png"
      color="red"
      />

    </div>
    <div class="">
      <WorkCard
      title="Técnico informático"
      site="Taller neumáticos y recambios Rasiga SL (Barrax)"
      year="2021-2024"
      description="Trabajo realizado: Despliegue y desarrollo de Aplicaciones Android internas para el funcionamiento de la empresa. Despliegue, desarrollo y mantenimiento de páginas web (HTML,CSS y JS, Backend PHP, Bootstrap, React.Js, Wordpress y Prestashop). Administrador de tienda online. Mantenimiento de sistemas informáticos y redes. Apoyo a la administración de la empresa utilizando programas ERP (Introducción de Albaranes, Facturación, Gestión de clientes, Control de Stock…). Gestión de redes sociales y marketing digital (SEO)."
      srcImage="/images/rasigalogo.jpg"
      color="cyan"
      />
    </div>

  </div>
  </section>
