<footer>
  <div class="flex flex-row space-x-8 justify-center items-center text-4xl dark:to-slate-950 from-10% dark:from-cyan-900 to-80% bg-gradient-to-t to-slate-50 from-blue-300 h-32">
    <a href="https://www.linkedin.com/in/an%C3%ADbal-simarro-garrido-991b83150/" target="_blank"><i class="fa-brands fa-linkedin hover:text-blue-700"></i></a>
    <a href="https://x.com/anibalsimarro" target="_blank"><i class="fa-brands fa-x-twitter hover:text-cyan-400"></i></a>

  </div>
</footer>