---
import WorkCard from "../components/WorkCard.astro";


---

<section id="formacion" class="my-4 p-8">
  <h2 class="text-2xl  dark:text-lime-400 text-blue-600 pixel-f">Formación</h2>
  <div class="flex justify-center items-center flex-col space-y-8" >
    
    <div class="opacity-0  animate-y pixel-f text-2xl dark:text-lime-400 text-blue-600 mt-24"><p>Let's get Started</p></div>
    <div class="opacity-0  animate-y pixel-f text-4xl dark:text-lime-400 text-blue-600 mt-24"><p>2015</p></div>
    <div class="opacity-0 animate-y dark:bg-lime-400 bg-blue-600 w-4 h-4 shadow-lg dark:shadow-lime-400/50 shadow-blue-600/50  my-24"></div>
    <div class="opacity-0 animate-y dark:bg-lime-400 bg-blue-600 w-4 h-4 shadow-lg dark:shadow-lime-400/50 shadow-blue-600/50  my-24"></div>
    <div class="opacity-0 animate-y dark:bg-lime-400 bg-blue-600 w-4 h-4 shadow-lg dark:shadow-lime-400/50 shadow-blue-600/50  my-24"></div>
    <div class="opacity-0 animate-y dark:bg-lime-400 bg-blue-600 w-4 h-4 shadow-lg dark:shadow-lime-400/50 shadow-blue-600/50  my-24"></div>
    <div class="opacity-0 animate-y pixel-f text-4xl dark:text-lime-400 text-blue-600 mt-24"><p>2017</p></div>

    <WorkCard 
      title="CFGS Desarrollo de Aplicaciones Multiplataforma"
      site="IES Leonardo DaVinci (Albacete)"
      year=""
      description="Tecnologías aprendidas: Java, Android, MySql, Redes y Sistemas Informaticos"
      color="red"
      srcImage="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRlANCX3C2-DXl1nzo7vAOnNyJZ2br5uyYjyg&s"/>
      <div class="opacity-0 animate-y dark:bg-lime-400 bg-blue-600 w-4 h-4 shadow-lg dark:shadow-lime-400/50 shadow-blue-600/50  my-24"></div>
      <div class="opacity-0 animate-y dark:bg-lime-400 bg-blue-600 w-4 h-4 shadow-lg dark:shadow-lime-400/50 shadow-blue-600/50  my-24"></div>
      <div class="opacity-0 animate-y dark:bg-lime-400 bg-blue-600 w-4 h-4 shadow-lg dark:shadow-lime-400/50 shadow-blue-600/50  my-24"></div>
      <div class="opacity-0 animate-y dark:bg-lime-400 bg-blue-600 w-4 h-4 shadow-lg dark:shadow-lime-400/50 shadow-blue-600/50  my-24"></div>
      <div class="opacity-0 animate-y pixel-f text-4xl dark:text-lime-400 text-blue-600 mt-24"><p>2018</p></div>
      <WorkCard 
        title="CFGS Desarrollo de Aplicaciones Web"
        site="Ilerna FP (Online)"
        year=""
        description="Tecnologías aprendidas: Diseño web, HTML, CSS, JS y PHP."
        color="blue"
        srcImage="https://pbs.twimg.com/profile_images/1790271399736598528/8riGxK1n_400x400.jpg"/>
        <div class="opacity-0 animate-y dark:bg-lime-400 bg-blue-600 w-4 h-4 shadow-lg dark:shadow-lime-400/50 shadow-blue-600/50  my-24"></div>
        <div class="opacity-0 animate-y dark:bg-lime-400 bg-blue-600 w-4 h-4 shadow-lg dark:shadow-lime-400/50 shadow-blue-600/50  my-24"></div>
        <div class="opacity-0 animate-y dark:bg-lime-400 bg-blue-600 w-4 h-4 shadow-lg dark:shadow-lime-400/50 shadow-blue-600/50  my-24"></div>
        <div class="opacity-0 animate-y dark:bg-lime-400 bg-blue-600 w-4 h-4 shadow-lg dark:shadow-lime-400/50 shadow-blue-600/50  my-24"></div>
        <div class="opacity-0 animate-y pixel-f text-4xl dark:text-lime-400 text-blue-600 mt-24"><p>2021</p></div>
        
      <WorkCard 
      title="HND Desarrollo de Videojuegos"
      site="Escuela de Arte y tecnología ESAT (Valencia)"
      year=""
      description="Tecnologías aprendidas: C++, C#, C, Unreal Engine, Unity Engine, IA, Diseño de videojuegos, Bajo nivel."
      color="orange"
      srcImage="https://www.esat.es/wp-content/uploads/esat_valencia.png"/>
      
  </div>
</section>

<script>

document.addEventListener('DOMContentLoaded', function () {
  const objs = document.getElementsByClassName('animate-y');
  const observer = new IntersectionObserver((entries) => {
    entries.forEach(entry => {
      if (entry.isIntersecting) {
        entry.target.classList.add('trans-y-animation');
      }
    });
  });

  Array.from(objs).forEach((obj) => {
    observer.observe(obj);
  });
});

</script>