---
interface Props {
  title: String;
}

const { title } = Astro.props;
---


<head>
  
  <meta charset="UTF-8" />
  <meta name="description" content="Astro description" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
  <meta name="generator" content={Astro.generator} />
  <title>{title}</title>
  <style>
    @import url('https://fonts.googleapis.com/css2?family=Tiny5&display=swap');
  </style>
  <script src="https://www.google.com/recaptcha/enterprise.js?render=6LczxWgqAAAAALGqWulZEhDhKYxAv2bMRIiagWFB"></script>

</head>
