---
import GlowButton from "../components/GlowButton.astro"
import Code from "../icons/Code.astro";
import Joypad from "../icons/Joypad.astro";
import "../styles/global.css"
import '@fontsource-variable/pixelify-sans';

---

<section  class="bg-cover bg-center h-screen">
  <div class="flex items-center justify-center h-full bg-slate-950 ">
    <div class="text-center">
      <h1 class="text-4xl  text-lime-400 mb-4 pixel-f type-animation">&lt;Aníbal Simarro/&gt;</h1>
      <h2 class="text-2xl font-medium text-white mb-8 ">Web/Game Developer</h2>
      <div class="mb-8 flex items-center justify-center space-x-16">
        <GlowButton props={"w-32 h-32"} link="#" gradientA={"from-lime-400"} gradientB={"to-cyan-400"} colorLogo={"text-lime-400"}><Joypad></Joypad></GameButton>
        <GlowButton props={"w-32 h-32"} link="#" gradientA={"from-purple-400"} gradientB={"to-cyan-400"} colorLogo={"text-purple-400"}><Code></Code></GlowButton>
      </div>

      
    </div>
    <a href="#sobre-mi" class="absolute bottom-4   px-3.5 py-1 border-2 border-lime-400 text-lime-400 rounded-full text-4xl animate-bounce">
      &darr;
    </a>
  </div>
</section>
