---

import { fade } from 'astro:transitions';


---
<section id="secondary-skills" class="my-4 p-8">
  <h2 class="text-2xl text-lime-400 pixel-f">Secondary Skills</h2>
  <div class="flex justify-center items-center my-8">
    <div transition:animate={fade({ duration: '0.4s' })} class="w-1/2 max-lg:w-full bg-slate-900 p-8 rounded-lg border-2 border-slate-800 text-center">
      <ul class="">
        <li  class="animate-x hover:text-blue-300 opacity-0 ">Photoshop</li>
        <hr class="my-4 border-t-2 border-slate-800">
        <li class="animate-x hover:text-yellow-300 opacity-0" >Video y Audio Editor (Sony Vegas y Audacity)</li>
        <hr class="my-4 border-t-2 border-slate-800">
        <li class="animate-x hover:text-blue-500 opacity-0">Meta Business Suite</li>
        <hr class=" my-4 border-t-2 border-slate-800">
        <li class="animate-x hover:text-green-300 opacity-0" >Wordpress y PrestaShop</li>
        <hr class="my-4 border-t-2 border-slate-800">
        <li class="animate-x hover:text-red-300 opacity-0">Google Analytics y Google Search Console</li>
      </ul>
    </div>

  </div>

</section>

<script>
document.addEventListener('DOMContentLoaded', function () {
  const objs = document.getElementsByClassName('animate-x');
  const observer = new IntersectionObserver((entries) => {
    entries.forEach(entry => {
      if (entry.isIntersecting) {
        entry.target.classList.add('trans-x-animation');
      }
    });
  });

  Array.from(objs).forEach((obj) => {
    observer.observe(obj);
  });
});

</script>