---
import GlowButton from "../components/GlowButton.astro";
import ReactLogo from "../icons/ReactLogo.astro"

---

<section id="#sobre-mi" class="my-4">
  <div>
    <h2 class="text-2xl text-lime-400 pixel-f">Skills</h2>
    
    <div>
      <GlowButton link="#" gradientA={"from-cyan-500"} gradientB={"to-cyan-700"} colorLogo={"text-cyan-500"}>
        
      </GlowButton>
    </div>

  </div>
</section>