---
let srcImage =
  "https://images.unsplash.com/photo-1668554245790-bfdc72f0bb3d?q=80&w=1287&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D";
---

<section id="sobre-mi" class="my-4 p-8">
  <h2 class="text-2xl text-lime-400 pixel-f">Sobre m칤</h2>

  <div
    class="bg-gray-900 rounded-full  max-lg:space-y-4 max-lg:flex-col max-lg:rounded-2xl p-4 max-sm:p-2 border-2 border-gray-800 flex items-center justify-center"
  >
    <div class="w-64 h-64 aspect-w-1 aspect-h-1 flex-none">
      <img
        src={srcImage}
        alt="anibal-image"
        class="w-64 h-64 rounded-full max-lg:rounded-lg object-cover"
      />
    </div>
    <div class="px-24 max-md:px-4 flex-auto">
      <div class="font-semibold">
        <p>An칤bal Simarro Garrido</p>
      </div>
      <div class="font-extralight italic text-sm text-justify">
        <p>
          춰Hola! <br /> Soy un desarrollador apasionado con una formaci칩n diversa
          en el mundo de la programaci칩n, me he formado en diversas 치reas como el
          desarrollo aplicaciones Android, desarrollo web y programaci칩n de videojuegos.
          Soy un profesional vers치til, me apasiona el investigar y desarrollar nuevas
          tecnolog칤as para estar en lo 칰ltimo del sector de la inform치tica. Actualmente,
          me encuentro enfocado en ampliar mis conocimientos y experiencia en el
          desarrollo web, con especial inter칠s en tecnolog칤as frontend y backend.
          Estoy motivado por los desaf칤os que plantea el mundo web y dispuesto a
          aportar soluciones creativas e innovadoras a cada proyecto.
        </p>
      </div>
      <div class="text-sm mt-2">
        <p>Soft Skills:</p>
        <div
          class="flex flex-wrap space-x-1 space-y-1 items-start justify-start"
        >
          <div class="bg-purple-600 px-4 py-1 rounded-full ml-1 mt-1">
            Cooperaci칩n &#129309;
          </div>
          <div class="bg-green-600 px-4 py-1 rounded-full">Autodidacta &#128214;</div>
          <div class="bg-red-700 px-4 py-1 rounded-full">Innovaci칩n &#128187;</div>
          <div class="bg-orange-600 px-4 py-1 rounded-full">Pensamiento cr칤tico 游눬</div>
          <div class="bg-blue-600 px-4 py-1 rounded-full">Creativo &#128161;</div>
          <div class="bg-yellow-600 px-4 py-1 rounded-full">Social 游눫</div>
          <div class="bg-pink-600 px-4 py-1 rounded-full">칄tica laboral 游눺</div>
  
        </div>
      </div>
      <div class="mt-4 text-center" >
        <p class="italic" >"Simple is the best way to efficiency"</p>
      </div>
    </div>
  </div>
</section>
